[submodule "libs/vcu_core/vcu-core-2024"]
	path = libs/vcu_core/vcu-core-2024
	url = https://github.com/LonghornRacingElectric/vcu-core-2024
[submodule "kin_cpp/third_party/blaze"]
	path = kin_cpp/third_party/blaze
	url = https://bitbucket.org/blaze-lib/blaze.git
[submodule "kin_cpp/third_party/gmm"]
	path = kin_cpp/third_party/gmm
	url = https://git.savannah.nongnu.org/git/getfem.git
[submodule "kin_cpp/third_party/scilab"]
	path = kin_cpp/third_party/scilab
	url = https://gitlab.com/scilab/scilab.git
